<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="75e5eef6-b303-45b4-8d33-e581f25b71f6" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="8193be2d-40ca-41b5-8d52-1ddf6c4ec3dd">contentBase</Composition>
      <Composition Key="24cbbe7b-1e5d-430e-af3e-c5e0d1eb2bf4">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5333a0ad-4bc3-497d-b84f-7fda65cb42e6">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="75e5eef6-b303-45b4-8d33-e581f25b71f6" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>