<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="73e2d937-c209-4802-983f-7a7413acf0ba" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1f4c0a08-71fd-4c87-b603-cd035da1a363">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c8a7d5ba-cc8f-4e78-866b-2e8c29595d7d" SortOrder="0">blog</ContentType>
    <ContentType Key="78701928-37ef-4fef-8f00-5fa1ae99f3fb" SortOrder="1">contact</ContentType>
    <ContentType Key="75e5eef6-b303-45b4-8d33-e581f25b71f6" SortOrder="2">contentPage</ContentType>
    <ContentType Key="05acd09b-81d3-40fc-99a3-4d3ceb30523b" SortOrder="3">people</ContentType>
    <ContentType Key="e302ef53-ca0d-4005-a81b-f4155cd8e421" SortOrder="4">products</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>87bf0d8b-f582-44a6-a857-361651568461</Key>
      <Name>Content</Name>
      <Alias>bodyText</Alias>
      <Definition>34a7f8f5-a84e-439b-9322-466ff7ed8866</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3eae8b3c-583e-43fc-84c3-099c2b3a15e7</Key>
      <Name>Color Theme</Name>
      <Alias>colorTheme</Alias>
      <Definition>71548df5-836c-41f8-96ac-5b98fe5e2e19</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d8ce109f-e605-4b59-9f74-918330d4145f</Key>
      <Name>Example Data Property</Name>
      <Alias>exampleDataProperty</Alias>
      <Definition>744e0472-b6a8-439d-8bf9-6db6e2e070bb</Definition>
      <Type>exampleDataProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1be58564-c48a-4543-a745-a09668db3bd0</Key>
      <Name>Font</Name>
      <Alias>font</Alias>
      <Definition>fff3c360-3f90-45b3-a554-e29ca72cdce4</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c4d11a0d-3cb2-498b-966f-13b7645bd56f</Key>
      <Name>Address</Name>
      <Alias>footerAddress</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d3b1dfe0-7b21-47e7-983c-c4c749cc416a</Key>
      <Name>Call To Action Caption</Name>
      <Alias>footerCTACaption</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Caption on the Call To Action Button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e98c1c73-4228-493b-a246-73b88323ce9b</Key>
      <Name>Call To Action Link</Name>
      <Alias>FooterCtalink</Alias>
      <Definition>3ece86aa-61ad-45d5-b1dd-8f02f25df949</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc73c4f2-9cd0-406f-9184-64d197bb3796</Key>
      <Name>Description</Name>
      <Alias>footerDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c3d4f468-88bd-418a-8ece-fdbcae419fba</Key>
      <Name>Header</Name>
      <Alias>footerHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>54f3614c-879e-416a-9c0d-8eb1ce1a6b5a</Key>
      <Name>Hero Background</Name>
      <Alias>HeroBackgroundImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Spice up the homepage by adding a beautiful photo that relates to your business]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6b3d396-486f-49a0-859a-7de300048f82</Key>
      <Name>Call To Action Caption</Name>
      <Alias>heroCTACaption</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The caption on the button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ec008dda-270c-4810-aac2-894ae8e5bfe9</Key>
      <Name>Call To Action Link</Name>
      <Alias>HeroCtalink</Alias>
      <Definition>3ece86aa-61ad-45d5-b1dd-8f02f25df949</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>36701ca2-c21e-4595-9ec3-9cfa5b68d0bc</Key>
      <Name>Description</Name>
      <Alias>heroDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ffe1883a-112a-4872-bad4-5b8328922421</Key>
      <Name>Header</Name>
      <Alias>heroHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the main headline for the hero area on the Homepage]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cda06766-da27-467f-a1c5-209c0277f142</Key>
      <Name>Logo</Name>
      <Alias>SiteLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional. If you add a logo it'll be used in the upper left corner instead of the site name. Make sure to use a transparent logo for best results]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>977ed3f3-c611-4758-836a-c3f49c0a165b</Key>
      <Name>Sitename</Name>
      <Alias>sitename</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used on the homepage as well as the title and social cards]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Hero</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Design</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>