<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e302ef53-ca0d-4005-a81b-f4155cd8e421" Alias="products" Level="1">
  <Info>
    <Name>Products</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="8193be2d-40ca-41b5-8d52-1ddf6c4ec3dd">contentBase</Composition>
      <Composition Key="24cbbe7b-1e5d-430e-af3e-c5e0d1eb2bf4">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="107f778d-7db2-4239-8897-c5847e1541fb">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7cce5237-84c3-47e5-8079-8dc1c20eafc1" SortOrder="0">product</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9bc3fe66-c314-45d1-a48c-ec45471d0a29</Key>
      <Name>Default Currency</Name>
      <Alias>defaultCurrency</Alias>
      <Definition>28a6aeda-b3fc-4c4d-926e-607854a07891</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is just used to prefix pricing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9ec72c92-3e9a-4f0d-a8a8-119e4e032422</Key>
      <Name>Featured Products</Name>
      <Alias>featuredProducts</Alias>
      <Definition>d0382188-119b-49b7-86d3-84119a02645f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Shop</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>