<?xml version="1.0" encoding="utf-8"?>
<DataType Key="744e0472-b6a8-439d-8bf9-6db6e2e070bb" Alias="My Example Data Property" Level="1">
  <Info>
    <Name>My Example Data Property</Name>
    <EditorAlias>exampleDataProperty</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>